.review-container{
	position: relative;
	border-radius: 0.25rem;
	box-shadow: 0px 0px 12px 6px rgba(17, 17, 26, 0.18);
	background-color: var(--color-primary-800);
	cursor: pointer;
	padding: 24px;

	.read-more{
		color: var(--color-light-hover);
		opacity: 0;
		transform: translateX(-6px);
	}
	&:hover{
		.title{
			color: var(--color-light-hover);
		}
		.background{
			background-position-x: center  !important;
		}
		.read-more{
			opacity: 1;
			transform: translateX(0);
		}
	}
}

.sm{
	min-height: 120px;
	.h5{
		font-size: var(--font-nm);
	}
}

.nm{
	min-height: 320px;
	.h5{
		font-size: var(--font-vlg)
	}
}