.svg {
  position: relative;
  width: 20px;
  height: 30px;
}
.menu_icon_dash {
  transform-origin: 50% 50%;
  opacity: 100;
  transition: transform 0.3s, opacity 0.3s;
}

.menu_icon {
  cursor: pointer;
  border-radius: 10%;
  transition: background-color 0.3s;
  .menu_icon_dash {
    fill: #ffffff;
  }
}

.menuexpanded {
  .dash_top {
    transform: translateY(-20%) translateX(16.9%) rotate(45deg);
  }
  .dash_bottom {
    transform: translateY(-20%) translateX(-16.9%) rotate(135deg);
  }
  .dash_middle {
    transform: rotate(135deg);
    opacity: 0;
  }
}
