@keyframes type {
  from {
    width: 0;
  }
}

@keyframes caret {
  50% {
    border-right-color: currentColor;
  }
}

@keyframes mount {
  from {
    opacity: 0;
    transform: translateX(-25px);
  }
}

@keyframes unmount {
  to {
    opacity: 0;
    transform: translateX(-25px);
  }
}

@keyframes float {
  from {
    transform: translateY(0);
  }
  to{
    transform: translateY(-10px);
  }
}

.animate-float{
  animation: float 3s ease-in-out infinite alternate;
}

.animate-type {
  --cn-words: 4;
  --en-words: 4;
  display: inline-block;
  font: bold 200% Consolas, Monaco, monospace;
  width: calc(var(--cn-words) * 2.1ch + var(--en-words) * 1ch);
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px solid transparent;
  // type's step = --cn-words * 2 + --en-words
  animation: type 6s steps(12) infinite alternate, caret steps(1) 0.5s infinite;
}

.mount {
  animation: mount 0.5s linear;
}

.unmount {
  animation: unmount 0.5s linear;
}
