/*
  1. 使用border-box，避免出现意料之外的内容溢出
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. 去除默认的外边距，内边距
*/
* {
  margin: 0;
  padding: 0;
}
/*
  3. 提供百分比默认高度
*/
html,
body {
  min-height: 100%;
}
/*
  4. 增加可读性
  5. 苹果端提供更好的文字表现
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. 提供基本的媒体样式
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. 去除以下元素的内置文字样式
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. 避免文字溢出
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

ul {
  list-style: none;
}
