$types:18;

.sprite-type{
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-image: url("/tools/pokemon/MST_SV.png");
	background-size: 20px 420px;
}

@for $i from 1 through $types {
	.sprite-type-#{$i}{
		background-position-y: -($i - 1) * 20px;
	}
}